- content_for(:title) { "Leaderboard" }


%section.leaderboard
  %header
    %h2 Leaderboard

  %nav.list
    - @users.each_with_index do |user, index|
      .row.clearfix
        %span.rank #{index.succ}.
        = link_to user.shown_name, user
        .float_right= user.solved_problems_count


