- content_for(:title) { 'Submissions' }

%section.submissions{data: {live_update: true}}
  - @submissions.each do |submission|
    = render 'submission', submission: submission, show_judges: false
  = paginate @submissions

%br

= link_to 'New Submission', new_submission_path
