.problems {
  .list .row .float_right {
    * { font-size: 15px; }

    a {
      font-weight: normal;
      text-decoration: none;
      &:hover { text-decoration: underline; }
    }
  }

  .list .row * {
    font-size: 20px;
  }
}
